#para{
    color: blue;
    background-color: black;
}

.span{
    text-align: center;
    font-size: larger;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

form{
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border : 2px solid black;
    
    
  }

  td,th{
    border: 1px solid black;
}
h2,table{
    display: flex;
    justify-content: center;
    align-items: center;

} 
 
h3{
    color: aqua;
    text-align: end;
    font-style: bold;
    text-decoration: underline;
}

#outer{
    background-color: black;
    width: 200px;
    height: 200px;
    display: flex;
    border-radius: 75%;
}

#inner{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    margin: 50px 50px 50px 50px;
    border: 2px solid red;
    border-radius: 50%;

}

#position1{
    position: static;
    background-color: cadetblue;
    height: 100px;
    width: 100px;

}

#position2{
    position: relative;
    background-color: rgb(95, 160, 98);
    height: 100px;
    width: 100px;
    margin-left: 100px;

}

#position3{
    position: absolute;
    background-color: rgb(185, 41, 41);
    height: 100px;
    width: 100px;
}

#position4{
    position: fixed;
    background-color: rgb(160, 95, 152);
    height: 100px;
    width: 100px;
}

#position5{
    position: sticky;
    background-color: rgb(14, 14, 14);
    height: 100px;
    width: 100px;
}


@media screen and (min-width: 480px) {
    body {
      background-color: rgb(144, 230, 238);
    }
  }

  
@media screen and (min-width: 550px) {
    body {
      background-color: rgb(155, 18, 190);
    }
  }

  
@media screen and (min-width: 700px) {
    body {
      background-color: rgb(144, 238, 233);
    }
  }

  
@media screen and (min-width: 900px) {
    body {
      background-color: rgb(144, 219, 238);
    }
  }